Source: basil
Section: utils
Priority: optional
Maintainer: Blackrush LLC <erikolson1965@gmail.com>
Standards-Version: 4.7.0
Homepage: https://basilbasic.com
Rules-Requires-Root: no
Build-Depends:
 debhelper-compat (= 13),
 dh-cargo,
 cargo,
 rustc,
 pkg-config,
 libssl-dev

Package: basil
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Basil BASIC interpreter (basilc)
 Ships only the basilc interpreter binary.

