<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package Name="Basil BASIC"
           Manufacturer="Blackrush LLC"
           Version="!(bind.fileVersion.basilc_exe)"
           UpgradeCode="{F1C3EF7D-ABCD-4F11-9C77-111122223333}"
           ProductCode="*"
           Language="1033"
           InstallerVersion="500"
           Scope="perMachine"
           Compressed="yes">

    <MajorUpgrade DowngradeErrorMessage="A newer version of Basil is already installed." />

    <!-- Properties -->
    <Property Id="ADD_EXAMPLES" Value="1" />
    <Property Id="ARPPRODUCTICON" Value="AppIcon" />

    <!-- Directories -->
    <StandardDirectory Id="ProgramFiles64Folder">
      <Directory Id="BasilRoot" Name="Basil">
        <Directory Id="BINFOLDER" Name="bin" />
        <Directory Id="DOCSFOLDER" Name="docs" />
        <Directory Id="EXAMPLESMSI" Name="examples" />
      </Directory>
    </StandardDirectory>


    <!-- Icon for ARP (you can replace with .ico later if desired) -->
    <Icon Id="AppIcon" SourceFile="$(var.RepoRoot)\favicon.ico" />

    <!-- Features -->
    <Feature Id="Core" Title="Basil Core" Level="1">
      <ComponentGroupRef Id="BasilBinGroup" />
      <ComponentRef Id="PathEnvComponent" />
      <ComponentGroupRef Id="DocsGroup" />
    </Feature>

    <Feature Id="ExamplesFeature" Title="Examples and Guides" Level="1">
      <ComponentGroupRef Id="ExamplesGroup" />
    </Feature>

    <!-- Binaries -->
    <ComponentGroup Id="BasilBinGroup" Directory="BINFOLDER">
      <Component Id="BasilcComponent" Guid="{7B5C0955-3210-4AF1-8B08-444455556666}">
        <File Id="basilc_exe" Source="$(var.BuildDir)\basilc.exe" KeyPath="yes" />
      </Component>
      <Component Id="BccComponent" Guid="{8C595A0E-4321-4C24-9FBA-777788889999}">
        <File Id="bcc_exe" Source="$(var.BuildDir)\bcc.exe" KeyPath="yes" />
      </Component>
      <Component Id="BasilServeComponent" Guid="{9D6F6F2E-5432-49B8-98AA-AAAA0000BBBB}">
        <File Id="basilserve_exe" Source="$(var.BuildDir)\basil-serve.exe" KeyPath="yes" />
      </Component>
    </ComponentGroup>

    <!-- Add bin folder to system PATH -->
    <Component Id="PathEnvComponent" Guid="{2BAA1C00-19B7-4F1F-8D3F-CCCCDDDD0001}" Directory="BINFOLDER">
      <Environment Id="BasilPath"
                   Name="PATH"
                   Action="set"
                   Part="last"
                   System="yes"
                   Permanent="no"
                   Value="[BINFOLDER]" />
      <CreateFolder />
      <RegistryValue Root="HKLM" Key="Software\Blackrush\Basil" Name="Installed" Value="1" Type="integer" KeyPath="yes"/>
    </Component>


    <!-- No standard UI reference; using default UI-less install -->

    <!-- Post-install: open What's New page via cmd.exe start -->
    <CustomAction Id="OpenWhatsNew"
                  Directory="BINFOLDER"
                  ExeCommand="[SystemFolder]cmd.exe /C start &quot;&quot; &quot;https://basilbasic.com/basil/&quot;"
                  Execute="immediate"
                  Return="asyncNoWait" />

    <InstallExecuteSequence>
      <Custom Action="OpenWhatsNew" After="InstallFinalize" Condition="NOT Installed" />
    </InstallExecuteSequence>

  </Package>
</Wix>
